<div id="shortcut">
    <ul>
        <li>
            <a href="#/erp/sales/SalesOrders" class="jarvismetro-tile big-cubes bg-color-blue">
                <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Sales</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/shipment/ShipmentRequests" class="jarvismetro-tile big-cubes bg-color-purple">
                <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Shipment</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/finance/CashTransactions" class="jarvismetro-tile big-cubes bg-color-blueDark">
                <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Finance</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/inventory/StockPositions" class="jarvismetro-tile big-cubes bg-color-orangeDark">
                <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Inventory</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/purchase/PurchaseOrders" class="jarvismetro-tile big-cubes bg-color-green">
                <span class="iconbox"> <i class="fa fa-shopping-cart fa-4x"></i> <span>Purchasing</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/supportingData/session" class="jarvismetro-tile big-cubes bg-color-teal">
                <span class="iconbox"> <i class="fa fa-sitemap fa-4x"></i> <span>Supporting Data</span> </span>
            </a>
        </li>
        <li>
            <a href="#/erp/masterData" class="jarvismetro-tile big-cubes bg-color-red">
                <span class="iconbox"> <i class="fa fa-money fa-4x"></i> <span>Master Data</span> </span>
            </a>
        </li>
    </ul>
</div>
